# Baby Names: Data Exploration

In [2]:
import pandas as pd
import altair as at
import seaborn as sns
import os

In [31]:
def open_files(path:str='namesbystate',cols:list=None)->pd.DataFrame:
    '''Reads all of the files in a folder and returns a df.'''
    output = None
    for f in os.listdir(path):
        # check if csv or txt
        if ('.csv' not in f.lower()) and ('.txt' not in f.lower()):
            continue
        csv_path = f'{path}/{f}'
        df = pd.read_csv(csv_path)
        df.columns=['state','sex','year','name','number']
        # update the output
        if output is None:
            output = df.copy()
        else:
            output = pd.concat([output,df],axis=0)

    if cols is not None:
        output.columns = cols
    return output

In [32]:
x=open_files()
x

      state sex  year      name  number
0        IN   F  1910     Helen     324
1        IN   F  1910      Ruth     238
2        IN   F  1910   Dorothy     215
3        IN   F  1910   Mildred     200
4        IN   F  1910  Margaret     196
...     ...  ..   ...       ...     ...
34620    DE   M  2023   Tristan       5
34621    DE   M  2023    Victor       5
34622    DE   M  2023    Walker       5
34623    DE   M  2023    Zayden       5
34624    DE   M  2023     Zayne       5

[6504110 rows x 5 columns]

In [6]:
for f in os.listdir('namesbystate'):
    print(f) 
    x=pd.read_csv(f'namesbystate/{f}')
    print(x)
    break

IN.TXT
        IN  F  1910      Mary  619
0       IN  F  1910     Helen  324
1       IN  F  1910      Ruth  238
2       IN  F  1910   Dorothy  215
3       IN  F  1910   Mildred  200
4       IN  F  1910  Margaret  196
...     .. ..   ...       ...  ...
150017  IN  M  2023    Yaseen    5
150018  IN  M  2023     Yusuf    5
150019  IN  M  2023     Zahir    5
150020  IN  M  2023      Zayd    5
150021  IN  M  2023    Zaylen    5

[150022 rows x 5 columns]